body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    color: #737373;
    
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.navbar{
    background-color: white;
    border-bottom-color:lightgray;
    font-family:'Oswald', sans-serif;
    font-size: 16px;
    color: #737373;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color:lightgray;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav>li>a:hover {
    background-color: #b3b3b3;
    color:white;
}

.navbar-inverse .navbar-nav>li>a {
    color: #737373;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-inverse .navbar-brand {
    color: #737373;
}


.navbar-inverse .navbar-toggle {
    background-color: white;
    border-color: #b3b3b3;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #b3b3b3;   
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: lightgray;
}

.jumbotron  {
    background-image: url(amstImagery.png);
    background-size: cover;
    height: 450px;*/
    height:100%;
    color: white;
    font-family:'Oswald', sans-serif;
    margin-bottom: 0px;
}

.jumbotron h1 {    
    padding-top: 50px;
}

.section-header{
    font-family:'Oswald', sans-serif;
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 4px solid #EEEEEE;
}

.form-group, .row{
  font-family:'Oswald', sans-serif;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 35px;
}

.row p{
    font-size: 16px;
    color:9d9d9d;
}

.row{
    padding-top: 20px;
    padding-bottom: 30px;
}

hr {
    border-top:None;
    
}

.thumbs{
    align-content: center;
    width:200px;
}
.center{
    font-family:'Oswald', sans-serif;
    text-align: center;
}

.logo{
    width:40px;
    padding: 4px;
    border:white;
    /*display:none;*/
}

#contact{
    text-align: center;
}

/*@media screen and (min-width: 768px)*/
.jumbotron {
    padding-top: 36px;
}

/*div .container{
    background: linear-gradient(white,#f2f2f2)
}*/